<% include ./partials/header %>

<div class="spinner"></div>
<!-- Container that will showcase the info, links, trailer, recommended list -->
<div class="container">
	<div id="movie"></div>
	<h2 id="trailer_title" data-aos="flip-left" style="color: #f9ca24; text-align: center;" >Trailer</h2><br>
	<div id="trailer"></div>
	<div id="rec_title">
		<h2 data-aos="flip-left" style="color: #f9ca24; text-align: center;" >Similar Movies:</h2>
	</div>
	<div id="recommended"></div>
	<div class="page">
		<button id="prev" title="Previous page"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
		<button id="next" title="Next page"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
	</div>
	<div id="overlay" class="overlay"></div>
</div>

<!-- Script links -->
<script src="/js/config.js"></script>
<script src="/js/global.js"></script>
<script src="/js/details.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Axios link -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	getMovie();

	AOS.init();
</script>
</body>
</html>