<% include ./partials/header %>
<h4 style="text-align: center;" id="white" data-aos="flip-left">Latest Movies</h4>
<div class="spinner"></div>	
	<div class="showcase">
		<div id="movies" class="moviesRows"></div>
  </div>

  
    <div class="pages">
        <button id="prev" title="Previous page"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
		<button id="next" title="Next page"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    
    </div>

    <script src="/js/latest.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>