<% include ./partials/header %>


<div class="spinner"></div>	


	<div class="showcase">
		<div id="movies" class="moviesRows"></div>
    </div>

  
    <div class="pages">
        <button id="prev" title="Previous page">PREVIOUS</button>
		<button id="next" title="Next page">NEXT</button>
    
    </div>

    <script src="/js/latest.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>