<% include ./partials/header %>
<div class="login">
  <div class="title">
      <span>CINEMY</span>
  </div>
  <div class="body">
      <div class="logo">
          <img src="/images/logo4.png">
      </div>
      <div class="content">
        <form action="" method="POST">
          <input required style="color: black; font-size: 30px;" type="text" 
                  name="username" 
                  id="username" 
                  placeholder="Username"
                  autocomplete="off">

          <input required style="color: black; font-size: 30px;" type="password" 
                  name="password" 
                  id="password" 
                  placeholder="Password">
                  
          <button>Sign Up</button>
          <a href="/signin" style="color: blue;">Already a user? Sign In here</a>
        </form>
      </div>
  </div>
  </div>
</div>